header {
    height: 60px;
    text-align: center;
  }
  
  main {
    background-color: #57595d;
    height: 900px;
    text-align: center;
  }
  
  h1 {
    height: 38px;
    font-family: Roboto;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 0.6px;
    text-align: center;
    color: #ffffff;
    padding-top: 40px;
  }
  
  .logo {
    /*width: 110px;
    height: 28px;*/
    margin-top: 15px;
    max-width: 300px;
    object-fit: contain;
  }
  
  .container {
    width: 400px;
    margin: auto;
    text-align: center;
  }
  
  #input {
    width: 219px;
    height: 37px;
    border-radius: 3.2px;
    border: solid 0.8px #ffffff;
    background-color: inherit;
    display: block;
    margin: auto;
    font-family: Roboto;
    font-size: 14px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #ffffff;
    outline: none;
  }
  
  #shorten {
    width: 91px;
    height: 37px;
    border-radius: 3.2px;
    border: solid 0.8px #ffffff;
    background-color: inherit;
    margin-top: 48px;
    font-family: Roboto;
    font-size: 14px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #ffffff;
    margin-right: -3px;
    transition: all .2s ease-in-out;
    outline: none;
  }
  
  #shorten:hover {
    background-color: rgba(87, 89, 93, 0.5);
    border: solid 0.8px #ffffff;
    color: #ffffff;
    cursor: pointer;
    transform: scale(1.05);
  }
  
  #shorten:active {
    background-color: #ffffff;
    border: solid 0.8px #4a4a4a;
    color: #1f233e;
    cursor: pointer;
  }
  
  #responseField {
    min-width: 191px;
    min-height: 120px;
    border: solid 2px #ffffff;
    margin: auto;
    margin-top: 25px;
    font-family: Roboto;
    font-size: 16px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #ffffff;
    overflow: auto;
  }

  #copy {
    width: 110px;
    height: 45px;
    border-radius: 3.2px;
    border: solid 0.8px #ffffff;
    background-color: inherit;
    margin-top: 25px;
    font-family: Roboto;
    font-size: 14px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #ffffff;
    transition: all .2s ease-in-out;
    outline: none;
  }

  #copy:hover {
    background-color: rgba(87, 89, 93, 0.5);
    border: solid 0.8px #ffffff;
    color: #ffffff;
    cursor: pointer;
    transform: scale(1.025);
  }

  #copy:active {
    background-color: #ffffff;
    border: solid 0.8px #4a4a4a;
    color: #1f233e;
    cursor: pointer;
  }
  